# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# miscellaneous noise we don't want in git
.idea
.DS_STORE
coverage.out

# this originally started as a way to avoid committing compiled binaries, but now serves the purpose of keeping dairycart repos from being duplicated in vendor folders
dairycart

# this folder contains generated starter templates of routes for new models, and is unnecessary to commit into source control
storage/database/routes

# this folder is created automatically by the local image storage interface and shouldn't be committed into source control
api/product_images