{{define "body"}}
    <section class="hero is-small">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">Manage Orders</h1>
            </div>
        </div>
    </section>

    <div class="event-timeline">
        {{range .Orders}}
            <p class="event-item">
                <!-- <span class="icon-item-type"><i class="fa fa-star"></i></span> -->
                <a href="/order/{{.ID}}">click here</a>
                <!-- <small>1 hours ago</small> -->
            </p>
        {{end}}
    </div>

{{end}}
